{% extends "templates/web.html" %}

{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
	
	.page-container {
		max-width: none; 
	}
	.page-card {
		max-width: 500px;
		border: none;
		box-shadow: none;
		border-radius: 0px;
		margin: 0px;
		margin-top: 50px;
		background-color: inherit;
	}
	.page-card .btn, .login-content .btn {
		margin-top: 10px;
	}
	.page-card .page-card-head {
		border-bottom: none;
		text-align: center;
	}
	 
	.img_cls img{
		min-height: 460px;
		min-width: auto;
		border-top-left-radius: 5px;
    	border-bottom-left-radius: 5px;
	}
	.page-content.without-sidebar{
		padding-top: 0px;
	}
	.page_content{
		padding-bottom: 0px;
	}

	.navbar{
		border: none;
	}
	.pg-boder{
		border: solid 1px #ebeff2;
		border-radius: 5px;
	}
	.page-card .page-card-head .indicator{
		font-size: 16px;
	}
	.form-horizontal img{			 
        display: block;
	    margin: 0 auto;
	    margin-bottom: 15px;
	}
	
	.form-footer{
		margin-top: 5px;
	}

</style>
{% endblock %} 

{%- block navbar -%} {% include "templates/includes/navbar/customNav.html" %} {% endblock %}

{% block title %}Login Page {% endblock %}

{% block page_content %}

<div class="pg-boder">
	<div class="row">
		<div class="col-md-7">
			<div class="img_cls">
				<img src="/assets/officeplus/images/loginpg-2.png"/> 				
			</div>
		</div>
		<div class="col-md-5"> 
			<section class='for-login'>
				<div class="login-content page-card">
					<form class="form-login form-horizontal" role="form">

						<div class="page-card-head">
							<span class="indicator blue" data-text="{{ _("Sign In") }}"></span>
						</div>

						<div class="form-group">
						    <!-- <label for="login_email" class="col-sm-3 control-label">Email:</label> -->
						    <div class="col-sm-12">
						      <input type="text" class="form-control input-lg" id="login_email" placeholder="{{ login_name_placeholder  }}" required autofocus>
						    </div>
						</div>

						<div class="form-group">
						    <!-- <label for="login_password" class="col-sm-3 control-label">Password:</label> -->
						    <div class="col-sm-12">
						      	<input type="password" class="form-control input-lg" id="login_password" placeholder="Password">
						    </div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
						    	<button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
							{% if ldap_settings.enabled %}				    
							    <button type="submit" class="btn btn-default btn-login btn-ldap-login pull-right">{{ _("Login with LDAP") }}</button>
							{% endif %}
						    </div>
						</div>		
					</form>

				</div>
				<div class='form-footer'>

					<div class='social-logins'>
						{%- if social_login -%}
							<h6>{{ _("Or login with") }}</h6>

							<p class="text-center" style="margin-top: 15px">
							{%- if facebook_login is defined %}
							<a href="{{ facebook_login }}"
								class="btn btn-default btn-xs btn-social btn-facebook">
								<i class="fa fa-facebook-official"></i> {{ _("Facebook") }}</a>
							{%- endif -%}

							{%- if google_login is defined %}
							<a href="{{ google_login }}" class="btn btn-default btn-xs btn-social btn-google">
								<i class="fa fa-google-plus"></i> {{ _("Google") }}</a>
							{%- endif -%}

							{%- if github_login is defined %}
							<a href="{{ github_login }}" class="btn btn-default btn-xs btn-social btn-github">
								<i class="fa fa-github"></i> {{ _("GitHub") }}</a>
							{%- endif -%}

							{%- if frappe_login is defined %}
							<a href="{{ frappe_login }}" class="btn btn-default btn-xs btn-social">
								<img style='width: 16px; height: 16px;'
									src="/assets/frappe/images/favicon.png"> {{ _("Frappe") }}</a>
							{%- endif -%}
							</p>
						{%- endif -%}
					</div>
					 
					{%- if not disable_signup -%}
						<p class="text-center">
							<a href="#signup" style="margin-top: -2px;">{{ _("Don't have an account? Sign up") }}</a>
						</p>
					{%- endif -%}
					<p class="text-center">
						<a href="#forgot">{{ _("Forgot Password?") }}</a></p>
				 

				</div>
			</section>
			<section class='for-signup'>
				<div class="login-content page-card">
				<form class="form-horizontal form-signup hide" role="form">
					<div class="page-card-head">
						<span class="indicator blue" data-text="{{ _("Sign Up") }}"></span>
					</div>
					<div class="form-group">
					    <!-- <label for="signup_fullname" class="col-sm-3 control-label">Full Name:</label> -->
					    <div class="col-sm-12">
					      <input type="text" class="form-control input-lg" id="signup_fullname"  placeholder="{{ _('Full Name') }}" required autofocus>
					    </div>
					</div>
					<div class="form-group">
					    <!-- <label for="signup_email" class="col-sm-3 control-label">Email:</label> -->
					    <div class="col-sm-12">
					      <input type="email" class="form-control input-lg" id="signup_email"  placeholder="{{ _('Email address') }}" required>
					    </div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">
					    	<button class="btn btn-lg btn-primary btn-block btn-signup" type="submit">{{ _("Sign up") }}</button>
					    </div>
					</div>	

				</form>
				</div>
				<div class='form-footer'>
					<a href="#login" class="blue">{{ _("Have an account? Login") }}</a>
				</div>

			</section>
			<section class='for-forgot'>
				<div class="login-content page-card">
				<form class="form-horizontal form-forgot hide" role="form">
					<div class="page-card-head">
						<span class="indicator blue" data-text="{{ _("Forgot Password") }}"></span></div>
					
					<div class="form-group">
					    <!-- <label for="signup_email" class="col-sm-3 control-label">Email:</label> -->
					    <div class="col-sm-12">
					     	<input type="email" id="forgot_email" class="form-control input-lg" placeholder="{{ _('Email address') }}" required autofocus>		    
					    </div>
					</div>

					<div class="form-group">
						<div class="col-sm-12">		    	
							<button class="btn btn-lg btn-primary btn-block btn-forgot" type="submit">{{ _("Send Password") }}</button>
					    </div>
					</div>	
					
				</form>
				</div>	

				<div class='form-footer'>
					<a href="#login">{{ _("Back to Login") }}</a>
				</div>
			</section>
		</div>
	
	</div>
</div>

{% endblock %}


{% block script %}
	<script>{% include "templates/includes/login/login.js" %}</script>
	<script type="text/javascript">
		$(document).ready(function(){

			//  <img src="/assets/officeplus/images/loginpg-2.png"/> 
			var image_name = "/assets/logo/" + window.location.hostname + '.png';
			$("<img src='" + image_name + "'"  + "/>")
			.css({width: "40px", height: "40px"})
			.insertBefore(".page-card-head");

		});

	</script>
{% endblock %}

{% block sidebar %}{% endblock %}

{%- block footer -%} 
	
	<center>
		<p style="color: #8D99A6"> Copy right &copy; 2017, Arcadia Technology Services Limited (Arcadia Media). All rights reserved.</p>
	</center>
{% endblock %}